form > div {
  width: 84%;
}

/* hide autocomplete dropdown when no results */
form > div > div:empty {
  display: none;
}

.suggestion {
  padding: 5px 10px;
  width: 592px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.suggestion:last-child {
  border-bottom: none;
}

.suggestion:hover {
  background: #f7f7f7;
  cursor: pointer;
}

.highlighted {
  composes: suggestion;
  background: #f7f7f7;
}

.submit {
  margin-left: 17px;
}
