.form {
}

form > div {
  width: 84%;
}

input[role="combobox"] + div {
  /* fix position and height bugs caused by flex box grid `position: absolute` property, which is necessary for router transitions */
  min-height: 200px;

  /* hide autocomplete dropdown when no results */
  &:empty {
    display: none;
  }
}

.suggestion {
  padding: 5px 10px;
  width: 590px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.suggestion:last-child {
  border-bottom: none;
}

.suggestion:hover {
  background: #f7f7f7;
  cursor: pointer;
}

.highlighted {
  composes: suggestion;
  background: #f7f7f7;
}

.submit {
  margin-left: 17px;
}
