.grid {
  position: absolute;
  left: 50%;
  margin-left: -25em;
  width: 50em;
}

.col {
  padding: 30px 30px 20px;
  min-height: 300px;
  background: #fff;
  border: 1px solid #e1e1e1;
}

.aside {
  composes: col;
  border-right: none;
}
