@import './colors.scss';

.h4 {
  margin: 0 0 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.list {
  padding-left: 10px;
  list-style: none;
  font-size: 16px;
}

.selected {
  font-weight: 700;
}
