.navbar {
  position: absolute;
  padding: 10px 0;
  width: 100%;
  height: 30px;
  background: #222;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 5px rgba(0, 0, 10, 0.5);
}

.content {
  margin: 0 auto;
  max-width: 980px;
}

.brand {
  width: 100%;
  height: 30px;
}

.heading {
  display: inline-block;
  color: #fff;
  letter-spacing: -1px;
  text-decoration: none;

  &:hover {
    color: #eee;
    transition: color 0.2s;
    text-decoration: none;
  }
}

.h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.user {
  position: relative;
  top: -29px;
  display: inline-block;
  float: right;
  font-size: 14px;

  a {
    color: #fff;

    &:hover {
      text-decoration: none;
      color: #eee;
      transition: color 0.2s;
    }
  }
}

.avatar {
  width: 20px;
  border-radius: 2px;
  position: relative;
  top: 5px;
  margin-right: 8px;
}

.caret {
  position: relative;
  top: -3px;
  margin-left: 5px;
  font-size: 5px;
  color: #ddd;
}

.dropdown-content {
  width: 100%;

  ul {
    position: relative;
    margin-top: 7px;
    padding-left: 0;
    width: 100%;
    float: right;
    background: #fff;
    list-style: none;
    border: 1px solid #eee;
    border-top: none;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 1px 1px 3px #ccc;

    a {
      padding: 10px 18px;
      width: 100%;
      display: inline-block;
      color: #222;
      text-align: left;

      &:hover {
        color: inherit;
        cursor: pointer;
      }
    }
  }
}

.login-btn {
  position: relative;
  top: -32px;
  padding: 2px 20px;
  float: right;
  font-size: 14px;
  border: 1px solid #bbb;
  border-radius: 2px;
  color: #fff;

  &:hover {
    background: #fff;
    color: #222;
    text-decoration: none;
    border-color: transparent;
    transition: all 0.2s;
  }
}
