@import url(//fonts.googleapis.com/css?family=Raleway:100,300,400,700);
@import './colors.scss';

body {
  margin: 0;
  padding-bottom: 20px;
  background: lighten($primary, 80%);
  color: $primary;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-rendering: optimizeLegibility;
}

.main {
  position: relative;
  top: 60px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[role="combobox"] {
  padding: 9px 10px;
  width: 100%;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 300;
  outline: none;
  border: 1px solid #ddd;

  &:focus {
    border: 1px solid #bbb;
  }
}

input[type="submit"] {
  padding: 12px 30px 11px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  color: #fff;
  background: $primary;
  border: 0;
  border-radius: 2px;

  &:hover {
    background: #000;
    cursor: pointer;
    transition: background 0.2s;
  }
}
