@import './colors.scss';

.signup {
  margin: 20px auto 0;
  padding: 40px 30px;
  width: 600px;
  min-height: 300px;
  background: #fff;
  border: 1px solid #e1e1e1;

  /* reset react-ux-password-field container styles */
  div[class="passwordField"] {
    display: block !important;
  }

  /* reset react-ux-password-field input styles */
  input[type="text"].password {
    font-weight: 300 !important;
    color: #222 !important;
  }
}

.h2 {
  margin: 0 0 20px;
  text-align: center;
}

.field {
  margin: 0 auto;
  width: 70%;
}

.label {
  margin-bottom: 10px;
  display: inline-block;
}

input[type="email"].email,
input[type="text"].password,
input[type="password"].password {
  margin-bottom: 20px;
  display: block;
}

.submit {
  margin-top: 5px;
}

.login {
  margin-left: 15px;
  font-size: 16px;
  color: $primary;
}
